:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --tetiary-color: whitesmoke;
    --accent-color: black;
    --accent1-color: lightslategray;
    --accent2-color: #ccc;
}
/* For all body tags */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
/* For all h from 1 - 3 */
h1 {
    font-weight: 100;
}
h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--tetiary-color);
    margin-top: 0;
}
h3 {
    text-align: center;
    margin: 1rem 0rem 0rem 10rem; 
}

/* For all header Ranging from the Title block to the nav */
#course-title {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 0.4rem;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--accent-color);
    padding: 0.8rem;
}
nav a {
    text-decoration: none;
    color: var(--tetiary-color);
}
nav a:hover {
    border-radius: 1px solid;
    color: var(--accent1-color);
}

/* For the main, ranging from my name to the first pic and text on the left div */
.name {
    text-align: center;
    font-weight: bold;
}
.card-items {
    display: grid;
    grid-template-columns: 75% auto;
    gap: .2rem;
}
.card {
    margin: 0px 10px 10px 5px;
    border: 1px solid var(--accent2-color);
    border-radius: 0.5rem;
    
}
.about-me p {
    margin: 2rem 0rem 4rem 1rem;    
}
.card img {
    float: right;
    gap: 1rem;
    margin: 0 1rem 0.5rem 0.5rem;
    height: max-content;
}

/* For the border under my city and state which is Maryland, Enugu */
hr {
    border: 1px solid var(--accent2-color);
    width: 70%;
    display: block;
    justify-content: center;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

/* For the second text and the image on the left */
.pic {
    float: left;
    margin-left: 0;
    gap: 2rem;
}
.pic img{
    border: 1px solid var(--accent2-color);
    padding-left: 2.5rem;
    height: 50%;
    margin-top: 2rem;
}
figcaption {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: small;
}
.parts {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 0.5rem;
}

/* For all paragraphs */
p {
    font-size: medium;
    margin: 0.2rem 0.9rem 0.2rem 0.2rem;
}

/* For all the unordered list and the class section called card1 code */
ul {
    padding-top: 8rem;
}
.card1 {
    
    margin: 0px 10px 10px 5px;
    border: 1px solid var(--accent2-color);
     border-radius: 0.5rem;
}

/* For the Footer */
footer {
    background-color: var(--primary-color);
    padding: 1rem;
    display: block;
    text-align: center;
    color: var(--tetiary-color);
}